/*****************
     WARNING
*****************/

#warning {
    position: absolute;
    top: -20%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    background: rgb(161, 5, 8);
    color: #fefefe;
    text-align: center;
    padding: 5px;
    width: 70%;
    margin: auto;
    animation: flash 3s ease-out;
    z-index: 5;
}

@keyframes flash {
    0% {
        top: 0%;
        opacity: 0;
    }

    40% {
        top: 8%;
        opacity: 1;
    }

    85% {
        top: 8%;
        opacity: 1;
    }

    100% {
        top: 8%;
        opacity: 0;
    }
}

/*************
    AUTRES 
*************/

.topFadeIn {
    animation: topFadeIn 1s ease-out;
}

@keyframes topFadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.slideFromTop {
    animation: slideFromTop 500ms ease-out;
}

@keyframes slideFromTop {
    from {
        transform: translateY(-80px);
    }

    to {
        transform: translateY(0px);
    }
}

.wizz {
    animation: wizz 100ms ease-in-out;
    animation-iteration-count: 3;
}

@keyframes wizz {
    0% {
        transform: translateX(0px);
    }

    25% {
        transform: translateX(-7px);
    }

    50% {
        transform: translateX(0px);
    }

    75% {
        transform: translateX(7px);
    }

    100% {
        transform: translateX(0px);
    }
}

/* spécifiquement pour la carte de la page stand */
.bottomFadeOut {
    opacity: 0;
    transform: translate(-50%, 20px) !important;
    transition: transform 1s, opacity 1s;
}
