html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,tr,td,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,article,aside,audio,canvas,datalist,details,figcaption,figure,footer,header,hgroup,mark,meter,nav,output,progress,section,subline,summary,time,video{margin:0;padding:0;border:0;outline:0;font-size:100%}ol,ul{list-style:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}img,article,aside,audio,canvas,datalist,details,figcaption,figure,footer,header,hgroup,mark,meter,nav,output,progress,section,subline,summary,time,video{display:block}

html{
  font-size: 100%;
}

@font-face{
    font-family:'SourceSansProRegular';
    src: url('../fonts/sourcesansproregular/SourceSansProRegular.otf') format('truetype'),
         url('f../onts/sourcesansproregular/SourceSansProRegular.woff') format('woff'),
         url('../fonts/sourcesansproregular/SourceSansProRegular.woff2') format('woff2'),
         url('../fonts/sourcesansproregular/SourceSansProRegular.ttf') format('truetype');

}

@font-face{
    font-family:'SourceSansProSemibold';
    src: url('../fonts/sourcesansprosemibold/SourceSansProSemibold.otf') format('truetype'),
         url('../fonts/sourcesansprosemibold/SourceSansProSemibold.woff') format('woff'),
         url('../fonts/sourcesansprosemibold/SourceSansProSemibold.woff2') format('woff2'),
         url('../fonts/sourcesansprosemibold/SourceSansProSemibold.ttf') format('truetype');

}

@font-face{
    font-family:'SourceSansProLight';
    src: url('../fonts/sourcesansprolight/SourceSansProLight.otf') format('truetype'),
         url('../fonts/sourcesansprolight/SourceSansProLight.woff') format('woff'),
         url('../fonts/sourcesansprolight/SourceSansProLight.woff2') format('woff2'),
         url('../fonts/sourcesansprolight/SourceSansProLight.ttf') format('truetype');

}


/* ///////////////////////////  GENERAL ELEMENTS /////////////////////////*/

/************** BUTTONS **************/

.btn-full-1{
  width: 218px;
  height: 35px;
  border: 1px solid #4FB8C4;
  text-decoration: none;
  -webkit-border-radius: 17px; 
  -moz-border-radius: 17px;
  border-radius: 17px;
  background: #0cd18f;  
  background: -moz-linear-gradient(to right,  #0cd18f 0%, rgba(25, 170, 187, 1) 100%);
  background: -webkit-linear-gradient(to right, #0cd18f 0%, rgba(25, 170, 187, 1) 100%); 
  background: linear-gradient(to right, #0cd18f 0%, rgba(25, 170, 187, 1) 100%);
  
}

.btn-full-2{
  width: 218px;
  height: 35px;
  border: 1px solid #4FB8C4;
  text-decoration: none;
  -webkit-border-radius: 17px; 
  -moz-border-radius: 17px;
  border-radius: 17px;
  background: #0cd18f;  
  background: -moz-linear-gradient(to left,  #0cd18f 0%, rgba(25, 170, 187, 1) 100%);
  background: -webkit-linear-gradient(to left, #0cd18f 0%, rgba(25, 170, 187, 1) 100%); 
  background: linear-gradient(to left, #0cd18f 0%, rgba(25, 170, 187, 1) 100%);
}

.btn-full-donation{
  border: 1px solid #4FB8C4;
  text-decoration: none;
  -webkit-border-radius: 17px; 
  -moz-border-radius: 17px;
  border-radius: 17px;
  width: 159px;
  height: 35px;
  background: #0cd18f;  
  background: -moz-linear-gradient(to right,  #0cd18f 0%, rgba(25, 170, 187, 1) 100%);
  background: -webkit-linear-gradient(to right, #0cd18f 0%, rgba(25, 170, 187, 1) 100%); 
  background: linear-gradient(to right, #0cd18f 0%, rgba(25, 170, 187, 1) 100%);
}

.btn-full-1, .btn-full-2, .btn-full-donation, .btn-outlined{
  font-family: 'SourceSansProRegular', 'Helvetica', sans-serif;
  line-height: 0.15;
  letter-spacing: 0.06em;
  color: #fefefe;
  font-size: 18px;
}

.btn-full-1:active, .btn-full-2:active, .btn-full-donation:active{
  background: #009688;
  border: 1px solid #009688;
}

.btn-outlined{
  width: 218px;
  height: 35px;
  border-radius: 17px;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  color: #009688;
  font-size: 18px;
} 

.btn-outlined-2{
    width: 146px;
    height: 35px;
    border-radius: 17px;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    color: #009688;
    font-size: 18px;
  }  

.btn-outlined:after, .btn-outlined-2:after{
  content: "";
  position: absolute;
  width: calc(100% - 6px);  
  height: calc(100% - 6px);  
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  margin: auto;
  border-radius: inherit;
  box-shadow: -80px 0px 30px 2px rgb(8, 187, 127) ,
              -40px 0px 40px 2px rgba(42, 237, 201, 1) ,
                0px 0px 40px 4px rgb(14, 187, 221) ,
               40px 0px 20px 6px rgb(26, 119, 158);
}

.btn-outlined-2 a{
    text-decoration: none;
}

.btn-outlined-txt{
  background: inherit;
  border: none;
  width: inherit;
  height: inherit;
  margin: auto;
  font-family: 'SourceSansProRegular', 'Helvetica', sans-serif;
  line-height: 0.15;
  letter-spacing: 0.06em;
  color: #009688;
  font-size: 18px;
}

a{
   /* background: inherit; */
    border: none;
    width: inherit;
    height: inherit;
    margin: auto;
    font-family: 'SourceSansProRegular', 'Helvetica', sans-serif;
    line-height: 0.15;
    letter-spacing: 0.06em;
    color: #009688;
    font-size: 18px;
  }

.btn-outlined:active, .btn-outlined-2:active{
  background: -moz-linear-gradient(to right,  #0cd18f 0%, rgb(25, 170, 187) 100%);
  background: -webkit-linear-gradient(to right, #0cd18f 0%, rgb(25, 170, 187) 100%); 
  background: linear-gradient(to right, #0cd18f 0%, rgb(25, 170, 187) 100%);
  color: white;
  
}

.btn-outlined:active .btn-outlined-txt, .btn-outlined-2:active .btn-outlined-txt{
  color: white;
}

/************** SQUARE WHITE BUTTONS **************/

.btn-white{
  width: 90px;
  height: 90px;
  background-color: #fefefe;
  -webkit-border-radius: 8px; 
  -moz-border-radius: 8px;
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0, 0.3);
}

.btn-white-clicked{
  width: 90px;
  height: 90px;
  background-color: #f4f4f4;
  border: 1px solid rgb(190, 190, 190);
  -webkit-border-radius: 8px; 
  -moz-border-radius: 8px;
  border-radius: 8px;
  box-shadow: inset 0 1px 4px 0 rgba(0,0,0, 0.5);
}

.btn-white2{
    width: 52px;
    height: 52px;
    background-color: #fefefe;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0, 0.3);
}

.btn-white-clicked2{
    width: 52px;
    height: 52px;
    background-color: #f4f4f4;
    border: 1px solid rgb(190, 190, 190);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    box-shadow: inset 0 1px 4px 0 rgba(0,0,0, 0.5);
}

/************** INPUT FIELDS **************/

input[type=email] {   
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input{
  border: 1px solid rgb(233, 230, 230);
  -webkit-border-radius: 17px; 
  -moz-border-radius: 17px;
  border-radius: 17px;
  width: 203px;
  height: 35px;
  background: #0cd18f;  
  background: -moz-linear-gradient(to right,  rgba(12, 209, 143, 0.3) 20%, rgba(25, 170, 187, 0.3) 100%);
  background: -webkit-linear-gradient(to right, rgba(12, 209, 143, 0.3) 20%, rgba(25, 170, 187, 0.3) 100%); 
  background: linear-gradient(to right, rgba(12, 209, 143, 0.3) 20%, rgba(25, 170, 187, 0.3) 100%);
  font-family: 'SourceSansProRegular', 'Helvetica', sans-serif;
  font-size: 14px;
  padding-left: 15px;
  color: #009688;
}

::placeholder{
  font-family: 'SourceSansProLight', 'Helvetica', sans-serif;
  font-size: 14px;
  color: #009688;

}

.input:focus{
  border:none;
  background: rgba(25, 170, 187, 0.1);  
}