main{
    width: 100%;
    align-content: center;

}
.connexion-content{
    width: 70%;
    margin: 0 auto; 
}
.avatar{
    text-align: center;
    margin: 0 auto; 
}
#container{
    width: 100%;
}
#titre{
    text-align: center;
}
svg{
    width: 60%;
    height:60%;
    margin: 15px 15px;
}