* {
    font-size: 10px;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    width: 327px;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}
.flex-center {
    display: flex;
    justify-content: center;
}
.fleche-retour {
    font-size: 16px;
    float: left;
}

h1 {
    font-size: 10px;
    text-transform: uppercase;
    display: inline-block;
    margin: 0 auto;
}

.user-img i {
    margin-top: 40px;
    font-size: 100px;
    display: flex;
    justify-content: center;
}
.img-connexion {
    margin-top: 40px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

form i {
    font-size: 12px;
    transform: translate(130%, 30%);
    width: 10px;
    height: 10px;
}

.form-input {
    display: block;
}

input[type="email"], input[type="password"] {
    border-bottom: 2px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-top: 30px;
    padding-bottom: 15px;
    width: 330px;
    padding-left: 21px;
}

input[type="submit"] {
    height: 36px;
    width: 178px;
    background-color: gray;
    color: white;
    border: none;
    text-transform: uppercase;
    margin-top: 95px;
    margin-bottom: 50px;

}

#mdp-oublie {
    display: flex;
    margin-top: 24px;
    justify-content: flex-end;

}
#mdp-oublie a {
    text-decoration: none;
    color: black;
}
form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.socials-icon {

    display: flex;
    justify-content: space-evenly;

}

.flex-center {
    display: flex;
    justify-content: center;
}

#inscrire-social {
    margin-bottom: 30px;
}

.cirle-social {
    height: 54px;
    width: 54px;
    border-radius: 50%;
    border: 1px solid black;
}

.cirle-social:nth-child(1) i {
    font-size: 16px;
    transform: translate(270%, 110%);
}

.cirle-social:nth-child(2) i {
    font-size: 16px;
    transform: translate(120%, 110%);
}

.cirle-social:nth-child(3) i {
    font-size: 16px;
    transform: translate(85%, 110%);
}