main{
    width: 100%;
    align-content: center;

}
.forgot-content{
    padding-top: 30%;
    width: 70%;
    margin: 0 auto; 
}
.avatar{
    text-align: center;
    margin: 0 auto; 
}
#container{
    width: 100%;
}

svg{
    width: 60%;
    height:60%;
    margin: 15px 15px;
}