main{
    width: 100%;
    align-content: center;
    height: 100vh;
}

form{
    margin-top: 7.2%;
    align-content: center;
      
}
#container{
    width: 100%;
    margin: 0 auto;
    position: relative; 
}

.avatar{
   
    margin-left: auto;
    text-align: center;
    margin-bottom: 6%;
}
.avatar svg{
    max-width: 100px;
    max-height:100px;
    margin: 15px 15px;
}



input{
    display: inline-block;
    margin-bottom: 2vh;
}

#alert{
    text-align: center;
    margin-top: 15px;
}

#alert > p{

    margin-bottom: 20px;
}

.flexCenter{
    margin: 0 auto;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    text-align: center;
}
#submit-signin{
    margin-top: 6.9%;

}
a,p{
      font-size: 0.9rem;
}
.Header{
     display: flex;
     margin-bottom: 7,2%;
    margin-top:4.8%;
    width: 100%;
}
#titre{
   
 text-align: center;
    text-transform: uppercase;
    font-family:'SourceSansProSemibold', 'helvetica',sans-serif;
    color: #2489B4;
    letter-spacing:1px;
    font-size: 20px;
    width: 60%;
  
    flex: 4;
    line-height: 30px;
}
#arrow{
    width: 8%;
    flex: 1;
     line-height: 32.5px;
     text-align: center;

}
#arrow svg{
    margin-left: 15%;
    width: 40%    
}
#vide{
    margin-left: 15%;
    width: 5%    
}
#condition{
    text-align: center;
    margin-left: 11%;
    margin-right: 11%;
    margin-bottom: 6vh;
    margin-top: 6vh;
}

input[type="checkbox"] {
    margin: 0;
}

#submit-signin {
    margin: 0;
}

.flexCenter:last-child { /* reprend les marges de l'input à sa place */
    position: relative;
    margin-top: 6.9%;
    margin-bottom: 3.9%;
}

#proxy { /* ne pas toucher, important pour le wizz */
    position: absolute;
    height: 35px;
    width: 218px;
    left: 50%;
    transform: translateX(-50%);
}
