/*****************
     GENERAL
*****************/

body {
    display: flex;
    font-family:'SourceSansProRegular';
}

.bold {
    font-family:'SourceSansProSemibold';
}

#menu {
    position: fixed;
    z-index: 1;
    width: 300px;
    height: 100vh;
    min-height: 510px;
    left: -304px;
    transition: left 0.4s;
    background: #fff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0, 0.3);
}

#menu.show {
    left: 0;
    transition: left 0.4s;
}

#display-user {
    min-height: 260px;
}

#close {
    position: absolute;
    top: 25px;
    right: 25px;
    cursor: pointer;
    height: 32px;
    width: 32px;
}

#close svg {
    width: 28px;
    display: inline-block;
}

/*****************
     USER INFOS
*****************/

#display-user {
    background: url('../images/pics/show.jpg');
    background-size: cover;
    color: #0cd18f;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 10px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0, 0.3);
}

#pseudo, #user-id {
    font-size: 1.2rem;
}

#user-id {
    margin-top: 20px;
}

#sardines-pic {
    position: relative;
    margin-left: 1px;
}

#sardines-pic svg {
    position: absolute;
    bottom: 3px;
    fill: #0cd18f;
    height: 12px;
    width: 12px;
    transform: rotateZ(-44deg);
}

#mail, #sardines-balance {
    font-size: 1rem;
}

/*************
     NAV
*************/

nav {
    padding: 15px;
}

nav ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

nav li {
    margin: 10px 0;
}

nav li:last-child {
    margin-top: 25px;
    align-self: flex-end;
    z-index: 2;
}

nav a {
    text-decoration: none;
    color: #097550;
    font-size: 1.2rem;
}

#menu #triangle-bottomleft {
	width: 0;
    height: 0;
    position: absolute;
    bottom: 0;
	border-bottom: 30vh solid rgba(129, 199, 132,0.2);
    border-right: 300px solid transparent;
    z-index:-1;
}

#menu #triangle-bottomright {
	width: 0;
    height: 0;
    position: absolute;
    bottom: 0;
    right: 0;
	border-bottom: 50vh solid rgba(12,209,143,0.1);
    border-left: 300px solid transparent;
    z-index:-1;
}
#avatar-img {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    height: 110px;
    width: 110px;
    margin-bottom: 1vh;
}
#avatar-box {
    display: flex;
    justify-content: center;
}