body {
    overflow-x: hidden;
    height: 100vh;

}

h1:first-child {
    display: none;
}

@keyframes slideRight {
    0% {
        transform: translateX(0vw);
    }
    100% {
        transform: translateX(-500vw);

    }
}

.slider {
    height: 100vh;
    display: flex;
    transition: transform 2s;

}

.slider-item {
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.slider-info-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider-info-bottom > p {
    font-size: 12px;
    text-align: left;
    margin: 0 16vw 0 16vw;
}

.slider-info-bottom .page-info {
    margin-bottom: 3.9%;
    color: #2489B4;
    text-align: center;
    font-size: 14px;
}

.slider-info-bottom > button {
    margin-bottom: 4.8vh;
}

.logo {
    display: flex;
justify-content: center;

}

.logo img {
    margin-top: 5.1vh;
    height: 7.6vh;
    width: 55.4vw;

}

.slider-info-top {
    height: 64.5vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

.rond {
    height: 32.5vh;
    width: 57.8vw;
    border-radius: 50%;
    background-color: #0cd18f;
}