body {
    overflow-x: hidden;
}

h1 {
    display: none;
}

#menu, #open {
    display: none;
}

main {
    background-color: #fefefe;
    height: 100vh;
}

@keyframes slideRight {
    0% {
        transform: translateX(0vw);
    }
    100% {
        transform: translateX(-500vw);

    }
}

.slider {
    display: flex;
}

.slider-info-top, .slider-txt, .page-info {
    transition: transform 500ms;

}

.slider-item {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.slider-info-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 80vw;
    text-align: center;
    font-size: 14px;
}

.slider-info-bottom div {
    font-size: 14px;
    text-align: left;
}

.slider-info-bottom h2 {
    font-size: 18px;
    text-align: center;
}

.slider-txt > p {
    margin-bottom: 4.04vh;
}

.align-btn {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.slider-txt > button {
    cursor: pointer;
}

.slider-info-bottom div ul, .slider-info-bottom div ul li {
    text-align: left;
    list-style-type: disc;
}



.slider-info-bottom div ul li {
    padding-left: 18px;
    line-height: 24px;
    margin-left: 9vw;
}

.slider-info-bottom div h2, .slider-info-bottom div ul {
    color: #1c1c1c;
}

.slider-info-bottom div h2 {
    color: #2489B4;
    font-size: 18px;
    text-align: left;
    margin-bottom: 7.94vh;
}

#start {
    cursor: pointer;
}

.slider-bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 4.5vh;
    padding-bottom: 4.5vh;
    color: #2489B4;
}

.page-info {
    color: #2489B4;
}

.slider-bottom img {
    width: 28px;
    cursor: pointer;

}

.arrow-next {
    transform: rotate(180deg);
}

.logo {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2.99vh;
    padding-bottom: 6.24vh;
}

.logo img:nth-child(2) {
    height: auto;
    width: 41vw;
    max-width: 154px;
}

.logo div {
    width: 28px;
    margin-right: 8.53vw;
}

.slider-info-top {
    height: 64.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rond {
    border-radius: 50%;
    background-color: #0cd18f;

}

/* Placement */

/* 34px */

/* D = 216px */
.rond {
    height: 20vh; /*32.5vh origin */
    width: 20vh;
    max-height: 216px;
    max-width: 216px;
    margin-bottom: 5.99vh;

}

/*39px 28px*/
.page-info {
    font-size: 18px;
}

button {
    border: none;
}

/* #07638A */
.cookie {
    display: flex;
    flex-direction: column;
    background: #2489B4;
    position: absolute;
    bottom: 50%;
    left: 0;
    width: 100vw;
    z-index: 999;
}

.cookie p {
    color: #fefefe;
    margin: 14px;
    font-size: 0.875rem;
}

.cookie a {
    color: #fefefe;
    font-size: 0.875rem;
}

.cookie button {
    align-self: flex-end;
    background-color: #2489B4;
    color: #fefefe;
    text-transform: uppercase;
    cursor: pointer;
    padding: 5px;
    margin: 5px;
}

.cookie button:hover {
    background-color: #07638A;
}

@media only screen
and (min-width: 944px) {
    .slider-info-bottom > p {
        text-align: center;
    }
}