body {
    overflow-x: hidden;
}

h1 {
    display: none;
}

#menu, #open {
    display: none;
}
main {
    background-color: #fefefe;
}
@keyframes slideRight {
    0% {
        transform: translateX(0vw);
    }
    100% {
        transform: translateX(-500vw);

    }
}

.slider {
    display: flex;
}

.slider-info-top, .slider-info-bottom > p, .page-info {
    transition: transform 500ms;

}

.slider-item {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.slider-info-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.slider-info-bottom > p {
    font-size: 12px;
    text-align: left;
    width: 70vw;
}

.slider-info-bottom .page-info {
    color: #2489B4;
    text-align: center;
    font-size: 14px;
}

.slider-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.logo {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img:first-child {
    width: 28px;
    height: 15px;
    cursor: pointer;
    margin-left: 8.53vw;

}

.logo img:nth-child(2) {
    height: auto;
    width: 41vw;
    max-width: 154px;
}

.logo div {
    width: 28px;
    margin-right: 8.53vw;
}

.slider-info-top {
    height: 64.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rond {
    height: 32.5vh;
    width: 32.5vh;
    border-radius: 50%;
    background-color: #0cd18f;
}

/* Placement */

/* 34px */
.logo {
    margin-top: 5.09vh;
}

/* D = 216px */
.rond {
    height: 32.5vh;
    width: 32.5vh;
    max-height: 216px;
    max-width: 216px;
}

/*39px 28px*/
.page-info {
    margin-top: 5.84vh;
    margin-bottom: 4.19vh;
}

/* 32px */
.slider-info-bottom {
    margin-bottom: 4.79vh;
}

.active-btn {
    width: 146px;
    height: 35px;
    border-radius: 17px;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    font-size: 18px;
    background: -moz-linear-gradient(to right, #0cd18f 0%, rgb(25, 170, 187) 100%);
    background: -webkit-linear-gradient(to right, #0cd18f 0%, rgb(25, 170, 187) 100%);
    background: linear-gradient(to right, #0cd18f 0%, rgb(25, 170, 187) 100%);
    color: #fefefe;
}

button {
    border: none;
}

/* #07638A */
.cookie {
    display: flex;
    flex-direction: column;
    background: #2489B4;
    position: absolute;
    bottom: 50%;
    left: 0;
    width: 100vw;
    z-index: 999;
}

.cookie p {
    color: #fefefe;
    margin: 14px;
    font-size: 0.875rem;
}

.cookie a {
    color: #fefefe;
    font-size: 0.875rem;
}

.cookie button {
    align-self: flex-end;
    background-color: #2489B4;
    color: #fefefe;
    text-transform: uppercase;
    cursor: pointer;
    padding: 5px;
    margin: 5px;
}

.cookie button:hover {
    background-color: #07638A;
}

@media only screen
and (min-width: 944px) {
    .slider-info-bottom > p {
        text-align: center;
    }
}