/*****************************************************
    STYLES PAGES STANDARDS (erreurs, success...)
*****************************************************/

main {   width: 100vw;
    color: #097550;
    padding-top: 100px;
}

main p {  
    text-align: center;
    margin-bottom: 40px;
    width: 100%;
}

p.success {
    padding: 0 15px 0 15px;
    text-align: left;
    margin: 8px 0;
}

main a {
    text-decoration: none;
}

a svg {
    width: 40px;
}

#triangle-bottomleft, #triangle-bottomright {
	width: 0;
    height: 0;
    position: absolute;
    bottom: 0;
    z-index:-1;
}

#triangle-bottomleft {
	border-bottom: 140px solid rgba(12,209,143,0.2);
    border-right: 260px solid transparent;
}

#triangle-bottomright {
    right: 0;
	border-bottom: 245px solid rgba(12,209,143,0.1);
    border-left: 300px solid transparent;
}

/*************************
    PAGE DES MENTIONS
*************************/

#mentions #triangle-bottomleft, #mentions #triangle-bottomright {
    position: fixed;
}

#mentions p {
    text-align: left;
}

#pad {
    padding: 0 15px 25px 15px;
}