main {
    width: 100vw;
    color: #097550;
    padding-top: 100px;
}

main p {  
    text-align: center;
}

main>a, main .links {
    position: fixed;
    bottom: 40px;
    left: 20px;
    text-decoration: none;
}

.links a {
    display: block;
    height: 35px;
    line-height: 1.8rem;
}

#success p {
    text-align: left;
    padding: 0 15px;
}

#triangle-bottomleft {
	width: 0;
    height: 0;
    position: absolute;
    bottom: 0;
	border-bottom: 140px solid rgba(12,209,143,0.2);
    border-right: 260px solid transparent;
    z-index:-1;
}

#triangle-bottomright {
	width: 0;
    height: 0;
    position: absolute;
    bottom: 0;
    right: 0;
	border-bottom: 245px solid rgba(12,209,143,0.1);
    border-left: 300px solid transparent;
    z-index:-1;
}