#menu {
    display: none;
}
main {
    height: 100vh;
    background-image: none;
    background-color: #fefefe;

}
.logo {
    padding-top: 5.09vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo img:nth-child(2) {
    height: auto;
    width: 41vw;
    max-width: 154px;
}

.logo div {
    width: 28px;
    margin-right: 8.53vw;
}
.message-validation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   height: 100%;
}
.message-validation div {
    margin-top: 10vh;
}

.message-validation p {
    width: 70vw;
    font-size: 14px;
}
.center {
    text-align: center;
}

#triangle-bottomleft, #triangle-bottomright {
	width: 0;
    height: 0;
    position: absolute;
    bottom: 0;
    z-index:-1;
}

#triangle-bottomleft {
	border-bottom: 140px solid rgba(12,209,143,0.2);
    border-right: 260px solid transparent;
}

#triangle-bottomright {
    right: 0;
	border-bottom: 245px solid rgba(12,209,143,0.1);
    border-left: 300px solid transparent;
}
