<?php
class Config {
    public static $config = array(
                              'host'=> 'nom du serveur',
                              'db'=> 'nom de la bdd',
                              'username'=> 'le username',
                              'password'=> 'le mdp'
                            );

    public static $ghost = 'comptesansbeneficiaire@exemple.mail';
  }