<?php

class Config 
{ 
    public static $config = array( 
                            'host'=> 'nom du serveur', 
                            'db'=> 'nom de la bdd', 
                            'username'=> 'le username', 
                            'password'=> 'le mdp' ); 
    
    public static $ghost = 'email@mail.com';
    public static $root = '/';
    public static $sendgrid_key = 'sendgrid_api_key';
}